@import "src/common/styles/sass/variables";
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  .emptyLinearProgress {
    height: 5px;
    background-color: $primaryColor;
  }
}