@import "../../../common/styles/sass/variables";

.nav {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  .link {
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $primaryColor;
    border-top: none;
    cursor: pointer;
  }
  & a {
    color: $textColor;
    text-decoration: none;
  }

  & a:hover {
    background-color: $primaryColor;
    color: $textColor;
  }

  .active {
    color: $primaryColor;
  }

  //@media screen and (max-width: 400px) {
  //  width: 100%;
  //}
}